/*Styles Page generally, as far as height, background-color, etc*/
body {
	height: auto;
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #324851;
	overflow: visible;
	overflow-x: hidden;
}

/*Header*/
h1 {
	font-family: 'Oswald', sans-serif;
	font-size: 72px;
	left: 0;
	right: 0;
	top: -40px;
	position: absolute;
	text-align: center;
	color: #fcfdfe;
	-webkit-user-select: none; /* Chrome/Safari */     
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none;
	user-select: none;
}

/*Div for calculator*/
#calculator {
	position: absolute;
	left: 0;
	right: 0;
	top: 20%;
	width: 650px;
	height: 520px;
	margin: auto;
	text-align: center;
	background-color: #805A3B;
}

/*Top bar of calculator where answers and numbers pressed show up*/
#answers {
	position: absolute;
	top: 10px;
	left: 10px;
	right: 10px;
	height: 150px;
	background-color: #2a3132;
	-webkit-user-select: none; /* Chrome/Safari */     
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none;
	user-select: none;
}

/*Actual text of #answers div*/
#output {
	position: absolute;
	right: 10px;
	bottom: -30px;
	font-family: 'Oswald', sans-serif;
	font-size: 62px;
	color: #fcfdfe;
}

/*From here to #foubfi, we style the div and text for buttons on calculator*/
#botl {
	position: absolute;
	left: 10px;
	bottom: 10px;
	height: 60px;
	width: 150px;
	background-color: #2a3132;
}

#botlth {
	position: absolute;
	left: 10px;
	bottom: 80px;
	height: 60px;
	width: 150px;
	background-color: #2a3132;
}

#botlse {
	position: absolute;
	left: 10px;
	bottom: 150px;
	height: 60px;
	width: 150px;
	background-color: #2a3132;
}

#botlfi {
	position: absolute;
	left: 10px;
	bottom: 220px;
	height: 60px;
	width: 150px;
	background-color: #2a3132;
}

#botlbfi {
	position: absolute;
	left: 10px;
	bottom: 290px;
	height: 60px;
	width: 150px;
	background-color: #2a3132;
}

#sec {
	position: absolute;
	left: 170px;
	bottom: 10px;
	height: 60px;
	width: 150px;
	background-color: #2a3132;
}

#secth {
	position: absolute;
	left: 170px;
	bottom: 80px;
	height: 60px;
	width: 150px;
	background-color: #2a3132;
}

#secse {
	position: absolute;
	left: 170px;
	bottom: 150px;
	height: 60px;
	width: 150px;
	background-color: #2a3132;
}

#secfi {
	position: absolute;
	left: 170px;
	bottom: 220px;
	height: 60px;
	width: 150px;
	background-color: #2a3132;
}

#secbfi {
	position: absolute;
	left: 170px;
	bottom: 290px;
	height: 60px;
	width: 150px;
	background-color: #2a3132;
}

#thi {
	position: absolute;
	left: 330px;
	bottom: 10px;
	height: 60px;
	width: 150px;
	background-color: #2a3132;
}

#thith {
	position: absolute;
	left: 330px;
	bottom: 80px;
	height: 60px;
	width: 150px;
	background-color: #2a3132;
}

#thise {
	position: absolute;
	left: 330px;
	bottom: 150px;
	height: 60px;
	width: 150px;
	background-color: #2a3132;
}

#thifi {
	position: absolute;
	left: 330px;
	bottom: 220px;
	height: 60px;
	width: 150px;
	background-color: #2a3132;
}

#thibfi {
	position: absolute;
	left: 330px;
	bottom: 290px;
	height: 60px;
	width: 150px;
	background-color: #2a3132;
}

#fou {
	position: absolute;
	left: 490px;
	bottom: 10px;
	height: 60px;
	width: 150px;
	background-color: #2a3132;
}

#fouth {
	position: absolute;
	left: 490px;
	bottom: 80px;
	height: 60px;
	width: 150px;
	background-color: #2a3132;
}

#fouse {
	position: absolute;
	left: 490px;
	bottom: 150px;
	height: 60px;
	width: 150px;
	background-color: #2a3132;
}

#foufi {
	position: absolute;
	left: 490px;
	bottom: 220px;
	height: 60px;
	width: 150px;
	background-color: #2a3132;
}

#foubfi {
	position: absolute;
	left: 490px;
	bottom: 290px;
	height: 60px;
	width: 150px;
	background-color: #2a3132;
}

.num {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	width: 100%;
	height: 60px;
	text-align: center;
	font-family: 'Oswald', sans-serif;
	font-size: 40px;
	color: #fcfdfe;
	background-color: transparent;
	outline: none;
	border: none;
	cursor: pointer;
	-webkit-user-select: none; /* Chrome/Safari */     
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none;
	user-select: none;
}

.num:hover {
	background-color: #1d2223;
}

.num:active {
	background-color: #383e3f;
}

.numDif {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	width: 100%;
	height: 60px;
	text-align: center;
	font-family: 'Material Icons', sans-serif;
	font-size: 40px;
	color: #fcfdfe;
	background-color: transparent;
	outline: none;
	border: none;
	cursor: pointer;
	-webkit-user-select: none; /* Chrome/Safari */     
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none;
	user-select: none;
}

.numDif:hover {
	background-color: #1d2223;
}

.numDif:active {
	background-color: #383e3f;
}
